language: c
sudo: required
dist: trusty
compiler:
  - gcc
before_install:
  - sudo apt-get -qq update
install:
  - sudo apt-get -qq install autoconf automake autotools-dev libtool pkg-config
  - sudo apt-get -qq install libssl-dev ruby
before_script:
  - echo '-------------------------------'
  - echo 'Prepare mruby                  '
  - echo '-------------------------------'
  - git clone --depth 1 https://github.com/mruby/mruby.git
script:
  - echo '-------------------------------'
  - echo 'Run unit test                  '
  - echo '-------------------------------'
  - git clone --depth 1 https://github.com/yahoojapan/fullock.git
  - cd fullock/ && ./autogen.sh && ./configure && make && sudo make install && cd ../
  - sudo ldconfig
  - mkdir -p mruby/build/host/mrbgems/
  - cd mruby/ && MRUBY_CONFIG=../travis_config.rb ./minirake test && cd ../
